<div class="p-2">
  <button (click)="addOrUpdateFines()">Update Fines</button>
  <button (click)="showFines()"  class="ml-2">Show Fines</button>
</div>

<div *ngIf="restResponse" class="form-group">
  <div [ngSwitch]=restResponse.success>
    <b *ngSwitchCase="true">{{restResponse.result}}</b>
    <b *ngSwitchDefault>{{restResponse.error}}</b>
  </div>
</div>
<div *ngIf="isError">
  {{error}}
</div>

<div *ngIf="fineResponse && !isError">
  <table border="0">
    <thead>
    <tr>
      <th>Card Id</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let f of fineResponse">
      <td>{{f.cardId}}</td>
      <td>$ {{f.amount}}</td>
      <td *ngIf="selectedValue=='false'"><button (click)="pay(f.cardId)">Pay</button></td>
      <td *ngIf="restResponse1">{{restResponse1.result}}</td>
    </tr>

    </tbody>
  </table>

</div>
