<h3> Add Loan for Book</h3>
<form (ngSubmit)="addLoan()">
  <div class="form-group">
    <div>
      <label>ISBN</label>
      {{isbn}}
    </div>
    <div>
      <label>Borrower ID</label>
      <input type="text" [(ngModel)]="bookLoan.borrowerId" placeholder="BorrowerId" name="Id"><br />
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-block">Add Loan</button>
    </div>
  </div>
</form>

<div *ngIf="submitted">
  <div *ngIf="success">
    {{msg}}
  </div>
  <div *ngIf="!success">
    {{errorMsg}}
  </div>

</div>