<h3> Add Loan for Book</h3>
<form (ngSubmit)="checkInBook()">
  <div class="form-group">
    <div>
      <label>ISBN</label>
      {{isbn}}
    </div>
    <div>
      <label>Borrower ID</label>
      {{cardId}}
    </div>

    <div>
      <button  type="submit" class="btn btn-primary btn-block">Check In</button>
    </div>
  </div>
</form>

<div *ngIf="restResponse" class="form-group">

  <div [ngSwitch]=restResponse.success>
    <b *ngSwitchCase="true">Book Checked In Successfully.</b>
    <b *ngSwitchDefault>{{restResponse.error}}</b>
  </div>
</div>
