<div class="container">
  <h4> Add Borrower</h4>
  <form [formGroup]="borrowerForm">
    <p>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>SSN</mat-label>
        <input matInput formControlName="ssn">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="text" formControlName="phone">
      </mat-form-field>
    </p>
    <button mat-raised-button (click)="addBorrower()">Add Borrower</button>
  </form>

  <div *ngIf="submitted">
    <div *ngIf="success">
      {{msg}}
    </div>
    <div *ngIf="!success">
      {{errorMsg}}
    </div>
  </div>
</div>
