<h3>Check In Book</h3>
<span>Enter either ISBN or Card Id</span>
<form [formGroup]="searchCheckInForm">
  <div>
    <label>
      ISBN
      <input type="text" formControlName="isbn">
    </label>
  </div>
  <div>
    <label>
      Card Id
      <input type="text" formControlName="cardId">
    </label>
  </div>
  <div>
    <button (click)="searchToCheckIn()">Seach</button>
  </div>
</form>
<div *ngIf="submitted">
  <div *ngIf="!success">
    {{error}}
  </div>
</div>
<app-search-result [books]="books" [isCheckIn]="true" (checkIn)="checkIn($event)"></app-search-result>